@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   font-family: 'Gothic A1', sans-serif;
}
html body {
   height: 100%;
}
a {
   color: #333;
   text-decoration: none;
}
/*--------------header start-----------------------*/
header {
   width: 100%;
   padding: 30px 10px 10px 10px;
   background-color: #fff;
   position: relative;
   top:0;
   height: 100px;
}
#header_wrap {
   margin: 0 auto;
   width: 1450px;
   height: 100%;
   position: relative;
}
#logo {
   display: inline-block;
   position: relative;
   width: 300px;
   margin-left: 20px;
}
#logo img {
   width: 100%;
}
#navi {
   font-size: 1.4em;
   display: inline-block;
   position: relative;
   bottom: 10px;
   margin: 0 30px;
}
#navi > ul {
   display: block;
}
#navi ul li {
   display: inline-block;
}
#navi > ul > li > a {
   font-weight: bold;
   padding: 10px 20px;
}
#navi > ul > li > a:hover {
   color: white;
   background-color: rgb(0, 52, 77);
}
.s_menu_parent {
   position: relative;
}
.s_menu {
   display: none;
   position: absolute;
   width: 200px;
   background-color: #fff;
   text-align: center;
   font-size: 0.8em;
   left: -37px;
   padding: 10px 20px;
   margin-top: 5px;
   /* border: 2px solid rgb(0, 52, 77); */
   z-index: 10;
}
.s_menu > li {
   width: 100%;
   height: 50px;
   line-height: 3em;
   font-weight: bold;
   border-bottom: 1px solid rgb(0, 52, 77);
}
.s_menu > li > a {
   width: 100%;
   color: rgb(0, 52, 77);
   padding: 10px;
}
.s_menu > li > a:hover {
   background-color: rgb(0, 52, 77);
   color: #fff;
}
.header_navbar {
   vertical-align: middle;
   margin-bottom: 3px;
}
#min_menu {
   display: inline-block;
   position: relative;
   bottom: 5px;
}
#min_menu div, #min_menu img {
   display: inline-block;
}
#min_menu img {
   width: 25px;
   height: 25px;
   margin-right: 10px;
}
#search:hover, #login:hover, #lang:hover, #sitemap:hover {
   transform: scale(1.25);
}
.m_menu_bar {
   scale: 80%;
}
#search {
   cursor: pointer;
}
#use_menu:hover + #s_menu_use, #notice_menu:hover + #s_menu_notice, #customer_menu:hover + #s_menu_customer,
 #safety_menu:hover + #s_menu_safety, #company_menu:hover + #s_menu_company {
   display: block;
}
#s_menu_use:hover, #s_menu_notice:hover, #s_menu_customer:hover, #s_menu_safety:hover, #s_menu_company:hover {
   display: block;
}
.selected_menu {
   border-bottom: 3px solid rgb(0, 52, 77);
}
/*--------------header end-----------------------*/
#search_wrap {
   width: 100%;
   background-color: #fff;
   z-index: 9;
   position: fixed;
   top: 80px;
   border-bottom: 1px solid #333;
   height: 90px;
   display: none;
}
#search_text {
   width: 1080px;
   margin: 0px auto 0 auto;
   padding: 0 230px;
   display: block;
}
#search_text input {
   width: 500px;
   height: 60px;
   padding: 10px;
   font-size: 1.5em;
   display: inline-block;
}
#search_text button {
   padding: 10px;
   color: #fff;
   background-color: rgb(0, 52, 77);
   font-weight: bold;
   height: 60px;
   width: 60px;
   margin: 10px;
   font-size: 1.1em;
   display: inline-block;
}
/*@@@@@@@@@@@@@@@ main start @@@@@@@@@@@@@@@*/
#container {
   height: 100%;
   width: 100%;
   margin: 0 auto;
   position: relative;
   min-height: 100vh;
}
#header2 {
   height: 80px;
   width: 100%;
   background: url(../../Images/info_use/sub_headbanner.jpg) no-repeat;
   background-size: cover;
   position: relative;
   top: 0;
}
#side_menu_h {
   width: 1280px;
   height: 100%;
   margin: 0 auto;
}
#side_menu_h span {
   height: 100%;
   width: 250px;
   background-color: rgb(0, 52, 77);
   padding: 20px;
   display: block;
   color: white;
   font-size: 2em;
   font-weight: bold;
   text-align: center;
}
#content {
   background-color: white;
   height: 100%;
   width: 1280px;
   margin: 0 auto;
}
#side_bar {
   width: 250px;
   height: 100%;
   background-color: white;
   padding: 10px;
   float: left;
}
#side_bar li {
   border-bottom: 1px solid;
   padding: 15px 10px;
   margin-bottom: 5px;
   font-weight: bold;
}
#side_bar > ul > li {
   font-size: 1.2em;
}
#side_bar > ul >li > input {
   display: none;
}
#side_bar > ul >li > label {
   display: inline-flex;
   width: 20px;
   height: 20px;
   float: right;
   cursor: pointer;
}
#side_bar > ul > li > label > img {
   width: 20px;
   height: 20px;
}
#side_bar > ul > li > ul {
   display: block;
   margin-top: 10px;
}
.selected_sidemenu {
   background-color: rgb(0, 52, 77);
   color: #fff;
   border: none;
}
#side_bar > ul >li > input:not(:checked) ~ ul  {
   display: none;
}
#safety {
   width: 1030px;
   height: 100%;
   float: left;
   padding: 40px;
   font-size: 1.2em;
}
#safety_header {
   display: block;
   font-size: 2em;
   font-weight: bold;
   color: gray;
   margin-bottom: 15px;
}
.safety_hr {
   background: url(../../Images/info_use/sub_headbanner.jpg) no-repeat;
   background-size: cover;
   width: 100%;
   height: 5px;
   margin-top: 10px;
}
/*--------------footer start-----------------------*/
footer {
   width: 100%;
   height: 60px;
   background-color: rgb(0, 52, 77);
   color: white;
   font-size: 0.8em;
   padding: 15px;
   z-index: 9;
   position: relative;
   bottom: 0;
   overflow: hidden;
}
#footer_container {
   width: 1280px;
   margin: 0 auto;
}
#footer_nav ul li {
   display: inline-block;
}
#footer_nav a {
   color: #fff;
   font-weight: 300;
}
#footer_nav img {
   vertical-align: middle;
}
#footer_left {
  float: left;
  margin-left: 30px;
}
#address {
   margin-top: 5px;
   font-size: 0.5em;
   margin-right: 30px;
}
#related_company {
   float: right;
}
#related_company select{
   padding: 5px;
}#related_company select option[value=""] {
   display: none;
}
#related_company button {
   padding: 3px;
   margin-left: 5px;
}
/*--------------footer end-----------------------*/
.clear {
   clear: both;
}