
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
* {margin: 0;padding: 0;box-sizing: border-box;list-style: none;font-family: 'Gothic A1', sans-serif;}
a {color: #333; text-decoration: none;}
/*--------------header start-----------------------*/
header {width: 100%;padding: 10px 0px;background-color: #fff;position: fixed;display: flex;justify-content: center;align-items: center;z-index: 10;}
#logo {vertical-align: middle;width: 250px;margin-right: 50px;}
#logo img {width: 100%;}
#navi {font-size: 1.2em;margin-right: 50px;}
#navi ul li {display: inline-block;margin: 20px 0px;}
#navi a {font-weight: bold;padding: 10px 20px;}
#navi a:hover {color: white;background-color: rgb(0, 52, 77);}
.s_menu {display: none;position: absolute;top: 100%;left: 0;}
.s_menu li {position: relative;background-color: white;width: 100px;height: 100px;}
.header_navbar {vertical-align: middle;margin-bottom: 3px;}
#min_menu {display: flex;flex-flow: row wrap;align-content: flex-start}
#min_menu img {width: 25px;height: 25px;margin-right: 10px;}
.m_menu_bar {scale: 80%;}
/*--------------header end-----------------------*/
/*@@@@@@@@@@@@@@@@-main start-----------------------*/
#main1 {background: url(../images/Everline34-1.png) no-repeat;}
#main2 {background: url(../images/Everline29-2.png) no-repeat;}
#main1, #main2 {background-size: 100% 100%;background-color: #333;display: flex;justify-content: center;align-items: center;height: 1300px;}
#container1, #container2 {/* padding-top: 161px; */width: 1080px;margin: 0px auto;}
/*@@@@@@@@@@@@@@@@@content1 start@@@@@@@@@@@@@@@@@@@@@@@@*/
#content1{width: 100%;display: grid;grid-template-columns: repeat(5,minmax(120px, 1fr));grid-template-rows: repeat(4, minmax(100px, 160px));grid-template-areas: "box1 box1 box1 box2 box2""box1 box1 box1 box2 box2""box1 box1 box1 box4 box4""box3 box3 box3 box3 box3";}
#content1_header {width: 455px;height: 90px;padding: 10px;margin-bottom: 30px;color: rgb(255, 255, 255);background-color: rgba(51, 51, 51, 0.8);font-size: 1.2em;}
#content_h {
display: block;
font-size: 1.5em;
font-weight: bold;
margin-bottom: 10px;

}
#el_map {

background-color: rgba(153, 197, 218, 0.411);

padding: 30px;
grid-area: box1;
margin-right: 50px;
}
#dep_arr {

padding: 30px;
background-color: rgba(153, 197, 218, 0.411);
grid-area: box2;
margin-right: 20px;
}
#dep_arr > span {
color: #333;
font-size: 1.5em;
font-weight: bold;
margin-bottom: 30px;
}
#dep_arr select {
display: block;
width: 300px;
height: 60px;
text-align: center;
font-size: 1.2em;
margin: 10px auto;
}
#dep_arr option[value=""] {
display: none;
}
#dep_arr img {
width: 15px;
margin: 0px auto;
display: block;
}
#dep_arr button {
width: 200px;
height: 50px;
margin: 25px auto;
display: block;
color: white;
background-color: rgb(0, 52, 77);
font-size: 1.5em;
font-weight: bold;
padding: 10px;
border-radius: 10px;
border: none;
}
/* #dep_sel select {
} */
#customer_service {
grid-area: box4;
margin-top: 20px;
display: flex;
}
#customer_service div {
width: 100%;
padding: 10px;
margin-right: 20px;
}
#customer_img {
width: 100%;
height: 100%;
}
#el_g_n {
grid-area: box3;
display: grid;
margin-top: 30px;
grid-template-columns: repeat(5, minmax(216px, 1fr));
/* background-image: url(../images/conent1_bg_test.png); */
}
#el_g_n>div {
margin-right: 20px;
}
.box {
padding: 10px;
height: 150px;
background-color: white;
}
/*@@@@@@@@@@@@@@@@@@@@@@@content2---------------------------------------------------------*/
#content2_header {
display: block;
padding: 10px;
color: #fff;
background-color: rgba(51, 51, 51, 0.8);
font-size: 1.2em;
width: 580px;
margin-bottom: 30px;
}
#content2_header>span {
display: block;
font-size: 1.5em;
margin-bottom: 10px;
font-weight: bold;
}
#content2 {
display: grid;
grid-template-columns: repeat(6, minmax(180px, 1fr));
grid-template-rows: repeat(4, minmax(100px, 150px));
grid-template-areas: 
"box1 box1 box1 box3 box3 box3"
"box1 box1 box1 box4 box4 box4"
"box2 box2 box2 box2 box5 box5"
"box2 box2 box2 box2 box6 box6";
}
/*-----------------slide banner---------------------*/
#banner {
grid-area: box1;
border: 3px solid green;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.55);
border-radius: 10px;
}
#banner img {
display: block;
width: 534px;
height: 294px;
border-radius: 10px;
}
#banner input {
display: none;
}
#bullets {
z-index: 2;
position: relative;
top: 30px;
float: right;
right: 30px;
}
#bullets label {
display: inline-block;
border-radius: 50%;
background-color: rgba(0,0,0,0.55);
width: 20px;
height: 20px;
cursor: pointer;
}
#imgs>li {
position: absolute;
opacity: 0;
z-index: 1;
}
#banner input[type=radio]:nth-child(1):checked~#bullets>label:nth-child(1){
background-color: green;
}
#banner input[type=radio]:nth-child(2):checked~#bullets>label:nth-child(2){
background-color: green;
}
#banner input[type=radio]:nth-child(3):checked~#bullets>label:nth-child(3){
background-color: green;
}
#banner input[type=radio]:nth-child(4):checked~#bullets>label:nth-child(4){
background-color: green;
}
#banner input[type=radio]:nth-child(1):checked~#imgs>li:nth-child(1){
opacity: 1;
transition: 1s;
z-index: 1;
}
#banner input[type=radio]:nth-child(2):checked~#imgs>li:nth-child(2){
opacity: 1;
transition: 1s;
z-index: 1;
}
#banner input[type=radio]:nth-child(3):checked~#imgs>li:nth-child(3){
opacity: 1;
transition: 1s;
z-index: 1;
}
#banner input[type=radio]:nth-child(4):checked~#imgs>li:nth-child(4){
opacity: 1;
transition: 1s;
z-index: 1;
}

/*--------------------slide banner end--------------------------*/
/*-----------------notice---------------*/
#notice_h {
font-size: 1.5em;
font-weight: bold;
color: rgb(66, 32, 0);
}
#notice {
/* background-color: white; */
background: url(../images/notice_background1.jpg) ;
background-size: cover;
padding: 10px 20px 0px 20px;
grid-area: box2;
margin-top: 50px;
border: 3px solid green;
border-radius: 10px;
}
#notice hr {
margin: 10px;
color: green;
border: 2px solid;
}
#notice li {
line-height: 2em;
margin-left: 10px;
display: flex;
justify-content: space-between;
list-style: url(Images/dotgreen1.png);
color: rgb(66, 32, 0);
}
#notice > ul > li > p > a:hover {
text-decoration: underline;
}
#notice p {
padding-left: 10px;
}
/*-----------------------etc box-------------------------------*/
.etc_box {
margin: 10px 0px 10px 50px;
}
.etc_box > a >img {
border-radius: 10px;
border: 2px solid rgb(97, 27, 0);
height: 130px;
width: 100%;
}
/* .etc_box:not(:last-child) {
margin-bottom: 20px;
} */
#tel {

grid-area: box5;
}
#PR {

grid-area: box6;
}
#food {

grid-area: box3;
}
#culture {

grid-area: box4;
}
#min_anchor {
width: 100px;
height: 70px;
position: fixed;
right: 0;
top: 50%;
background-color: rgb(0, 52, 77);
font-size: 0.8em;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
display: grid;
grid-template-columns: 2, 35px;
grid-template-rows: 1, 100px;
padding: 5px;
}
#min_anchor input{
display: none;
}
#min_anchor {
font-size: 1.2em;
font-weight: bold;
color: #fff;
display: flex;
flex-flow: column wrap;
}
#min_anchor > label {
width: 20px;
height: 20px;
background-color: #1b1b1b91;
border-radius: 50%;
margin: auto 5px;

cursor: pointer;
}
#min_anchor > span {
margin-top: 5px;
}
#anchor_service:checked ~ label[for="anchor_service"] {
background-color: #fff;
}
#anchor_info:checked ~ label[for="anchor_info"] {
background-color: #fff;
}

/* @@@@@@@@@@@@@@@@@content2 end@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*--------------main end-----------------------*/
/*--------------footer start-----------------------*/
footer {
width: 100%;
height: 60px;
background-color: rgb(0, 52, 77);
color: white;
position: fixed;
bottom: 0;
font-size: 0.8em;
padding: 15px;
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
}
#footer_nav ul li {
display: inline-block;
}
#footer_nav a {
color: #fff;
font-weight: 300;
}
#footer_nav img {
vertical-align: middle;
}
#footer_left {
display: flex;
flex-flow: column;
}
#address {
margin-top: 5px;
font-size: 0.5em;
}
#related_company {
margin-left: 30px;
}
#related_company select{
padding: 5px;
}#related_company select option[value=""] {
display: none;
}
/*--------------footer end-----------------------*/

.clear {
clear: both;
}